*{
    padding: 0;
    margin:auto 0;
    font-family: sans-serif;
}

body{
    background: url('./12.jpg') no-repeat;
    background-size: cover;
}

.Login-from {
    width: 350px;
    top: 50%;
    left: translate(-50%,-50);
    position: absolute;
    color: #fff;
}


.Login-from h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.Login-from p{
    font-size: 20px;
    margin: 15px 0;
}

.Login-from input{
    font-size: 16px;
    width: 100;
    padding: 15px 10px;
    border: 0;
    outline: none;
    border-radius: 5px;
}

.Login-from button{
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
    padding: 10px 15px;
    width: 50%;
    border-radius: 5px;
    border: 0;

}