/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.form-div{
    margin: 50px auto 50px;
    padding: 25px 15px 10px 15px;
    border: 1px solid #80ced7;
    border-radius: 10px;
    font-size: 1.1em;
    font-family: 'Lora&display=swap', serif;
}

.form-control:focus {
    box-shadow: none;
}
 
.form p{
    font-size: .89em;
}

.form-div.login{
    margin-top: 100px;
}

.logout {
    color: red;
}